/*---------------⇣⇣⇣⇣Other⇣⇣⇣⇣⇣-----------------*/
.header {
  height: 50px;
  color: grey;
  display: flex;
  margin-bottom: 12px;
}
.header-h1 {
  margin: 17px;
}
.intro {
  margin-left: 26px;
  margin-top: 26px;
}
.homediv {
  margin-left: 29px;
  margin-top: 4;
}
/*----------^^^^^Other^^^^^------------*/
/*----------------⇣⇣⇣⇣Add⇣⇣⇣⇣-----------------*/
.add {
  margin-left: 26px;
  margin-top: 26px;
}
.plus {
  margin-left: 72px;
}
#aNum1{
  text-align: center;
}
#aNum2 {
  text-align: center;
}
.aEqual {
  text-align: center;
}
.aSum {
  text-align: center;
}
.aSubmitRow {
  position: relative;
}
.aSubmitBtn {
  position: absolute;
}
.aForm {
  max-width: 210.5px;
  position: absolute;
}
/*--------^^^^Add^^^^----------*/

/*--------⇣⇣⇣⇣Sub⇣⇣⇣⇣----------*/
.sub {
  margin-left: 26px;
  margin-top: 26px;
}
.minus {
  margin-left: 72px;
}
#sNum1{
  text-align: center;
}
#sNum2 {
  text-align: center;
}
.sEqual {
  text-align: center;
}
.sSum {
  text-align: center;
}
.sSubmitRow {
  position: relative;
}
.sSubmitBtn {
  position: absolute;
}
.sForm {
  max-width: 210.5px;
  position: absolute;
}
/*--------^^^^Sub^^^^----------*/

/*--------⇣⇣⇣⇣Mul⇣⇣⇣⇣----------*/
.mul {
  margin-left: 26px;
  margin-top: 26px;
}
.times {
  margin-left: 72px;
}
#mNum1{
  text-align: center;
}
#mNum2 {
  text-align: center;
}
.mEqual {
  text-align: center;
}
.mSum {
  text-align: center;
}
.mSubmitRow {
  position: relative;
}
.mSubmitBtn {
  position: absolute;
}
.mForm {
  max-width: 210.5px;
  position: absolute;
}
/*--------^^^^Mul^^^^----------*/

/*--------⇣⇣⇣⇣Div⇣⇣⇣⇣----------*/
/*--------^^^^Div^^^^----------*/