.header {
  height: 50px;
  color: grey;
  display: flex;
  margin-bottom: 12px;
}
.header-h1 {
  margin: 17px;
}
.intro {
  margin-left: 26px;
  margin-top: 26px;
}
.homediv {
  margin-left: 29px;
  margin-top: 4;
}
.add {
  margin-left: 26px;
  margin-top: 26px;
}
